{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="grid_12">
    <div class="page_title">My Sites</div>
    <a href="{% url 'main.views.home' %}" class="fright gray_button">Back to Site Listing</a>
</div>
<div class="clear"></div>
<div class="space_40"></div>
<table class="list">
    <thead>
        <tr>
            <td class="grid_2 alpha nofloat">Name</td>
            <td class="grid_5 nofloat">URL</td>
            <td class="grid_2 nofloat">Last Update</td>
            <td class="grid_3 omega nofloat clearfix"><a href="{% url 'main.views.newsite' %}" class="gray_button fright">New Site</a></td>
        </tr>
    </tr>
    <tbody>
        {% for s in sites %}
        <tr>
            <td class="grid_2 alpha nofloat">
                {{s.site.name}}
            </td>
            <td class="grid_5 nofloat">
                <a href="{{ s.url }}" >{{ s.url}}</a>
            </td>
            <td class="grid_2 nofloat">
                {{s.site.get_time}}
            </td>
            <td class="grid_3 omega nofloat">
                <a href="{% url 'main.views.updatesite' pk=s.site.pk%}" class="fright" >Edit Site</a>
                <div class="bspace fright"></div>
                <a href="{% url 'main.views.deletesite' pk=s.site.pk %}" class="fright" >Delete Site</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>
                No sites
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
