{% extends 'base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="grid_12">
    <div class="page_title">6.170 projects</div>
    <a href="{% url 'main.views.admin' %}" class="fright gray_button">Manage your sites</a>
</div>
<div class="prefix_3 grid_6">
    <div class="section_title center">About</div>
    <div class="section_text">
        6.170 is a class where students learn to build web applications from the ground up -- from the basics of html, to the creation of a full-blown interactive, database driven website. This website aims to provide an easy and reliable platform for students deploy and share their class projects.
    </div>
</div>
{% endblock %}
