{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="grid_12 clearfix">
    <div class="page_title">New Site</div>
    <a href="{% url 'main.views.admin' %}" class="fright gray_button">Go Back</a>
    <div class="clear"></div>
    {% if error %}<div class="errors">{{error}}</div>{% endif %}
</div>
<div class="clear"></div>
<div class="space_40"></div>
<div class="prefix_1 grid_10">
    <div class="section_title center">Tips</div>
    <ul class="section_list">
        <li>The wsgi application entry point should be a variable called "app" in a file called "app.py"</li>
        <li>You must use an absolute path to refer to your sqllite database. Use os.path.join(os.path.dirname(__file__), "mydatabase.db") to calculate the absolute path.</li>
        <li>Make sure that the application works on your computer and that the database has been initialized.</li>
        <li>Do not hard-code ANY urls. Do reverse url lookups for all links, images, stylesheets, etc.</li>
        <li>Max filesize is around 10 mb</li>
        <li>This website intentionally exposes debug information of all websites. Do not use this information to interfere with other people's websites.</li>
    </ul>
</div>

<div class="clear"></div>
<div class="space_40"></div>
{% include 'main/site_form.html' %}
{% endblock %}
