{% extends 'main/base.html' %}
{% load url from future %}{% load staticfiles %}

{% block main_content %}
<div class="grid_12">
    <div class="page_title">New Site</div>
    <a href="{% url 'main.views.admin' %}" class="fright gray_button">Go Back</a>
    {% if error %}<div class="errors">{{error}}</div>{% endif %}
</div>
<div class="clear"></div>
<div class="space_40"></div>
<form action="." method="POST" enctype="multipart/form-data" class="grid_8 prefix_2">
    {% csrf_token %}
    <ul>
        {{form.as_ul}}
    </ul>
    <input type="submit" class="gray_button fright" value="Submit"/>
</form>
{% endblock %}
