/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass";


$white: white;
$gray-light: #EEEEEE;
$gray-mid: #CCCCCC;
$gray-mid-dark: #999999;
$gray-dark: #555555;
$black: black;
$dg: #111111;


.unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none; 
    cursor:default;
}

body{
   font-size: 16px;
    color: $gray-dark;
    a{
        color: $gray-dark;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

h1{font-size: 30px;}
h2{font-size: 20px;}
h3{font-size: 15px;}

#content{
    border: 1px solid $gray-mid;
    min-height: 650px;
}

#header{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: $gray-mid;
}

#footer{
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    margin-top: 150px;
    margin-bottom: 50px;
}

#header_container{
}

#footer_container{
}

.gray_button{
    @extend unselectable;
    @include border-radius(3px);
    @include box-shadow($white 3px 3px 4px -2px inset);
    @include background(linear-gradient(top, $gray-light , $gray-mid));
    border: 1px solid $gray-mid;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 10px;
    text-align: center;
    display: block;
    float: left;
    &.disabled{
        border: 1px solid transparent;
        @include box-shadow($gray-mid 1px 1px 2px 0px inset);
        @include background(none);
        color: $gray-mid;
    }
    &[type="button"], &[type="submit"]{
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        vertical-align: middle;
        line-height: 16px;
        height: 16px;
        padding: 6px 10px;
    }
    font-family: "anivers";
    &.selected, &:hover, &.active{
        @include box-shadow($white 3px 3px 4px -2px inset);
        @include background(linear-gradient(top, $gray-light + $dg , $gray-mid + $dg));
        border: 1px solid $gray-mid;
    }
    &:active{
        @include background(linear-gradient(top, $gray-mid + $dg , $gray-light + $dg));
    }
}

.large_gray_button{
    @extend .gray_button;
    font-size: 28px;
    line-height: 60px;
    padding: 0px 20px;
}

textarea{
    margin-bottom: 20px;
    display: block;
    padding: 5px;
}

input[type="text"], input[type="password"], textarea{
    font-family: inherit;
    overflow: hidden;
    color: $gray-dark;
    @include border-radius(3px);
    &.blank{
        color: $gray-light;
    }
    width: 90px;
    padding: 2px 5px;
    font-size: 13px;
    &.large_gray_text_box, &.large_gray_textarea{
        border: 2px solid $gray-mid-dark;
        font-size: 20px;
        @include border-radius(4px);
        padding: 3px 5px;
        display: block;
        width: 206px;
        &:focus{
            border: 2px solid $gray-mid-dark;
        }
        &.blank{
            color: $gray-mid;
            border: 2px solid $gray-mid;
        }
        &.grid_2{
            width: 126px;
        }
        &.grid_4{
            width: 286px;
        }
        &.large_gray_textarea{
            height: 200px;
            width: 300px - 4px - 10px;
            overflow-y: auto;
        }
    }
}
.center{
    text-align: center;
}

.hcenter{
    display: table;
    margin: 0px auto;
    float: none;
}
.center{
    text-align: center;
}
.errors, .error{
    display: block;
    color: $gray-dark;
    padding: 0px 0px 20px 20px;
    font-size: 20px;
}
.fright{
    float: right;
}
.fleft{
    float: left;
}
.space_10{
    height: 10px;
}
.space_20{
    height: 20px;
}
.space_30{
    height: 30px;
}
.space_40{
    height: 40px;
}
.space_50{
    height: 50px;
}
.space_60{
    height: 60px;
}
.space_70{
    height: 70px;
}
.space_80{
    height: 80px;
}
.page_title{
    font-size: 28px;
    display: block;
    float: left;
    margin-bottom: 20px;
}
.section_title{
    font-size: 22px;
    margin-bottom: 10px;
}
.section_text{
    margin-left: 20px;
    font-size: 16px;
    line-height: 22px;
}
